body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #222222;
}

.header {
    background-color: #222222;
    height: 150px;
    padding: 16px 0 0 0;
}

.header-emoji {
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
}

.header-title {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.header-description {
    color: #CFCFCF;
    margin: 4px auto;
    text-align: center;
    max-width: 384px;
}

.wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 16px;
}

.card {
    width: 45%;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.menu {
    height: 112px;
    width: 1300px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 35px;
	padding-left: 15px;
	padding-right: 10px;
    margin: -80px auto 0 auto;
    background-color: #333333;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.second-menu{
    height: 100px;
    width: 600px;
    padding-top: 15px;
    margin: 15px auto 0 auto;
    display: flex;
    justify-content: space-evenly;
    background-color: #333333;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}
.Select-control {
    width: 250px;
    height: 48px;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    line-height: 48px;
}

.Select--multi .Select-value-label {
    line-height: 32px;
}

.menu-title {
    margin-bottom: 6px;
    font-weight: bold;
    color: #079A82;
}

.menu-item {
	order: 1;
	width: 256px;
	height: 80px;
}